# Python cache
__pycache__/
*.pyc
*.pyo

# Build folders
/dist/
/build/
/releases/

# LSP packages folders
/quantex/language_server/ServersPackages/*

# IDE files
.vscode/
.idea/

# Virtual environments
venv/
.env/

# OS-specific
.DS_Store
Thumbs.db

# temporary folder
temp/